@use "../global" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
    --variable-name: value;
}

/* Variables */
:root {
    --font-family: "Roboto", "Noto Sans JP", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.8rem;
    --transition: 0.3s;
    --bullet-background-color: red;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: auto;
    max-width: 100%;
}


body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-family: var(--font-family);

    .pc {
        display: block;
    }

    .sp {
        display: none;
    }

    .pb {
        padding-bottom: 15px;
    }

    .pt {
        padding-top: 6px;
    }

    .mt {
        margin-top: 6px;
    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 1.2rem;
    }

    a:hover {
        text-decoration: none;
        color: var(--secondary-color);
    }

    .fz24 {
        font-weight: var(--bold-font);
        font-size: 24px;
    }

    .fz18 {
        font-weight: var(--bold-font);
        font-size: 18px;
    }

    .l-container {
        nav {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem 3.5rem;
            background-color: var(--bg-color);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

            @include SP {
                padding: 1.5rem 1rem;
            }

            h1 {
                color: var(--primary-color);
                font-size: 24px;
                font-weight: var(--bold-font);
            }

            a {
                color: var(--primary-color);
                transition: var(--transition);
                font-size: 15px;

                &:hover {
                    @include PC {
                        color: var(--secondary-color);
                        border-bottom: 2px solid var(--secondary-color);
                    }
                }
            }

            ul {
                @include PC {
                    display: flex;
                    gap: 1.9rem;
                }

                @include SP {
                    position: fixed;
                    background-color: var(--bg-color);
                    flex-direction: column;
                    top: 86px;
                    left: 10%;
                    width: 80%;
                    text-align: center;
                    transform: translateX(120%);
                    transition: transform 0.5s ease-in;
                }

                li {
                    font-weight: var(--bold-font);

                    @include SP {
                        margin: 8px;
                    }
                }

                &.show {
                    @include SP {
                        transform: translateX(0);
                    }
                }
            }

            .burger-menu {
                color: var(--primary-color);
                font-size: 2rem;
                border: 0;
                background-color: transparent;
                cursor: pointer;

                @include PC {
                    display: none;
                }

                @include SP {
                    display: block;
                }
            }
        }

        .hero {
            display: flex;
            align-items: center;

            @include PC {
                justify-content: center;
                gap: 2.5rem;
                max-width: 68.75rem;
                margin: auto;
            }

            @include SP {
                margin-top: -4rem;
                flex-direction: column;
                gap: 0;
            }

            img {
                @include PC {
                    height: 37.5rem;
                    width: 37.5rem;
                }

                @include SP {
                    height: 37.5rem;
                    width: 30rem;
                }
            }

            .bio {
                width: 25rem;
                border-radius: 6px;
                box-shadow: 0px 2px 15px 2px var(--primary-shadow);

                @include SP {
                    margin-top: -2rem;
                    width: 20.5rem;
                }

                .bio_inner {
                    padding-top: 15px;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-bottom: 15px;
                    font-size: 15px;
                }

                h2 {
                    margin-bottom: var(--bottom-margin);
                }

                p {
                    line-height: var(--line-height);
                    padding: 0.3rem 0;
                }
            }
        }

        .more-about {
            background-color: var(--bg-color);

            @include PC {
                padding: 1rem 6rem;
            }

            @include SP {
                margin-top: 2rem;
                padding: 1rem 3.5rem;
            }

            .more-about-inner {
                @include PC {
                    max-width: 1200px;
                    margin: 0 auto;
                }

                h2 {
                    text-align: center;
                    margin-bottom: var(--bottom-margin);
                }

                p {
                    line-height: var(--line-height);
                    padding: 0.4rem;
                    font-size: 15px;

                    @include SP {
                        text-align: justify;
                    }
                }
            }
        }

        .skills {
            max-width: 68.75rem;
            margin: auto;
            text-align: center;
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;

            .skill-header {
                margin-bottom: 1rem;
            }

            .skills-wrapper {
                .iconSection {
                    display: flex;
                    justify-content: center;

                    img {
                        padding: 1.25rem;
                    }

                    .icon {
                        @include PC {
                            width: 6.875rem;
                            height: 7rem;
                        }

                        @include SP {
                            width: 5.875rem;
                            height: 6rem;
                        }
                    }

                    .icon-card {
                        background-color: #fff;
                        border-radius: 11px;
                        box-shadow: 0 3px 10px var(--secondary-shadow);
                        padding: 20px;
                        margin: 10px;
                    }
                }
            }
        }

        .projects {
            background-color: var(--bg-color);
            padding: 32px 0;
            margin-top: 2rem;
            margin-bottom: 2rem;

            .project-inner {
                @include PC {
                    max-width: 1200px;
                    margin: 0 auto;
                }

                .projects-title {
                    text-align: center;
                    margin-bottom: 1rem;
                }

                .projects-container {
                    display: flex;
                    justify-content: center;

                    @include SP {
                        flex-direction: column;
                        align-items: center;
                    }

                    .project-container {
                        text-align: center;
                        width: 450px;
                        padding: 1rem;

                        @include SP {
                            width: 20.875rem;
                        }

                        .project-pic {
                            width: 240px;
                            display: block;
                            margin: 0 auto;
                        }

                        p {
                            padding: 0.4rem;
                            font-size: 15px;
                            text-align: left;
                            line-height: 1.5;
                        }

                        .project-title {
                            margin-bottom: var(--bottom-margin);
                            font-size: 18px;
                        }
                    }

                    .project-card {
                        background-color: #fff;
                        border-radius: 11px;
                        box-shadow: 0 3px 10px var(--primary-shadow);
                        padding: 20px;
                        margin: 10px;
                    }

                    .project-details {
                        margin-bottom: var(--bottom-margin);
                    }

                    .project-card-fadein {
                        opacity: 0;
                        transform: translateY(50px);
                        transition: opacity 1s ease-out, transform 1s ease-out;
                    }
                }
            }

            .some-projects-inner {
                .projects-title {
                    text-align: center;
                    margin-bottom: 1rem;
                }

                .projects-containers {
                    display: grid;
                    gap: 10px;
                    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
                    justify-items: center;
                    justify-content: center;

                    .project-container {
                        text-align: center;
                        padding: 1rem;

                        @include PC {
                            width: 450px;
                        }

                        @include SP {
                            width: 20.875rem;
                        }

                        p {
                            padding: 0.4rem;
                            font-size: 15px;
                            text-align: left;
                            line-height: 1.5;
                        }

                        .project-pic {
                            width: 240px;
                            display: block;
                            margin: 0 auto;
                        }

                        .project-details {
                            margin-bottom: var(--bottom-margin);
                        }
                    }

                    .project-card {
                        background-color: #fff;
                        border-radius: 11px;
                        box-shadow: 0 3px 10px var(--primary-shadow);
                        padding: 20px;
                        margin: 10px;
                    }

                    .project-card-fadein {
                        opacity: 0;
                        transform: translateY(50px);
                        transition: opacity 1s ease-out, transform 1s ease-out;
                    }
                }
            }
        }

        .swiper-block {
            padding-top: 30px;
            background: var(--bg-color);

            .title {
                text-align: center;
            }

            .swiper {
                @include PC {
                    width: 540px;
                    height: 930px;
                }

                @include SP {
                    width: 369px;
                    height: 783px;
                }

                .swiper-slide {
                    margin-top: 30px;

                    iframe {
                        width: 550px;
                        display: flex;
                        justify-content: center;
                    }
                }
            }

            .swiper-button-prev {
                display: none;
            }

            .swiper-button-next {
                display: none;
            }
        }

        .contact {
            margin-top: 2rem;
            background-color: #fff;
            padding-top: 30px;

            h2 {
                text-align: center;
                margin-bottom: var(--bottom-margin-2);
            }

            .contact-form-container {
                margin: 0 auto;
                padding: 0.938rem;
                border-radius: 5px;
                box-shadow: 0 3px 10px var(--secondary-shadow);

                @include PC {
                    max-width: 40.75rem;
                }

                @include SP {
                    max-width: 23.75rem;
                }

                label {
                    line-height: 2.7em;
                    font-weight: var(--bold-font);
                    color: var(--primary-color);
                }

                textarea {
                    min-height: 6.25rem;
                    font-size: 14px;
                }

                .input-field {
                    width: 100%;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-radius: 5px;
                    border: none;
                    border: 2px outset var(--primary-color);
                    font-size: 0.875rem;
                    outline: none;

                    &::placeholder {
                        padding: 0.5rem;
                        color: var(--primary-color);
                    }
                }

                .submit-btn {
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0;
                    background-color: #fff;
                    border: 2px solid var(--primary-color);
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: var(--bold-font);
                    transition: var(--transition);

                    &:hover {
                        background-color: var(--primary-color);
                        border: 2px solid var(--primary-color);
                        cursor: pointer;
                    }
                }
            }
        }

        .socials {
            flex-direction: column;
            position: fixed;
            right: 1%;
            bottom: 50%;
            display: flex;

            .socicon {
                width: 2rem;
                height: 2rem;
            }
        }

        footer {
            background-color: var(--bg-color);
            padding: 1.25rem;
            text-align: center;
            margin: 2rem 0 0;
            &.mt {
                margin-top: 294px;
            }
        }

        .scroll-up {
            position: fixed;
            right: 0.5%;
            bottom: 3%;
            cursor: pointer;
        }

        .up-arrow {
            width: 3rem;
            height: 3rem;
        }

        .first-set,
        .second-set,
        .third-set {
            opacity: 0;
            transition: opacity 0.6s ease-out;
        }
        //works style
        .works-box {
            p,a {
                font-size: 15px;
                line-height: 1.5;
            }
            .works-box-inner {
                max-width: 1200px;
                margin-left: auto;
                margin-right: auto;
                .title-box {
                    margin-top: 30px;
                    font-size: 21px;
                }
                .tittle-box {
                    margin-top: 30px;
                    text-align: center;
                    .title {
                        text-align: center;
                        font-weight: bold;
                        @include PC {
                            font-size: 42px;
                        }
                        @include SP {
                            font-size: 21px;
                        }
                    }
                    p{
                        margin-top: 12px;
                    }
                }
                .product-box {
                    margin-top: 30px;
                    &.mlr {
                        margin-left: 30px;
                        margin-right: 30px;
                    }
                    .product-inner {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include SP {
                            flex-direction: column;
                        }
                        iframe {
                            @include PC {
                                width: 720px;
                                height: 480px;
                            }
                            @include SP {
                                width: 360px;
                                height: 210px;
                            }
                            &:nth-child(1){
                                @include PC {
                                    margin-right: 30px;
                                }
                                @include SP {
                                    margin-bottom: 30px;
                                }
                            }
                            &.figma_block {
                                @include SP {
                                    width: 300px;
                                    height: 333px;
                                }
                            }
                        }
                        img {
                            @include PC {
                                width: 575px;
                            }
                        }
                    }
                }
                .description-box {
                    margin-top: 45px;
                    &.mlr {
                        margin-left: 30px;
                        margin-right: 30px;
                    }
                    .txt-box {
                        p {
                            &:nth-child(2) {
                                margin-top: 30px;
                            }
                        }
                        &.mt30 {
                            margin-top: 30px;
                        }
                        &.mb {
                            margin-bottom: 80px;
                        }
                        &.mb188 {
                            margin-bottom: 188px;
                        }
                    }
                    .detail-box {
                        margin-top: 30px;
                        .link-box {
                            margin-top: 12px;
                            background: #4756df;
                            border-radius: 45px;
                            width: 69px;
                            padding: 3px;
                            text-align: center;
                            a {
                                color: #fff;
                                &:hover {
                                    @include PC {
                                        color: #ff7235;
                                        cursor: pointer;
                                        transition: 0.6s;
                                    }
                                } 
                            }
                        }
                    }
                }
            }
        }
    }
    

    .intersecting-circles-spinner,
    .intersecting-circles-spinner * {
        box-sizing: border-box;
    }

    .intersecting-circles-spinner {
        height: 70px;
        width: 70px;
        position: fixed;
        /* Updated from relative to fixed */
        top: 50%;
        /* Center vertically */
        left: 50%;
        /* Center horizontally */
        transform: translate(-50%, -50%);
        /* Adjust position to true center */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 1000;

        /* Ensure it's above other content */
        .spinnerBlock {
            animation: intersecting-circles-spinners-animation 1200ms linear infinite;
            transform-origin: center;
            display: block;
            height: 35px;
            width: 35px;
        }

        .circle {
            display: block;
            border: 3px solid #4756df;
            border-radius: 50%;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;

            &:nth-child(1) {
                left: 0;
                top: 0;
            }

            &:nth-child(2) {
                left: calc(35px * -0.36);
                top: calc(35px * 0.2);
            }

            &:nth-child(3) {
                left: calc(35px * -0.36);
                top: calc(35px * -0.2);
            }

            &:nth-child(4) {
                left: 0;
                top: calc(35px * -0.36);
            }

            &:nth-child(5) {
                left: calc(35px * 0.36);
                top: calc(35px * -0.2);
            }

            &:nth-child(6) {
                left: calc(35px * 0.36);
                top: calc(35px * 0.2);
            }

            &:nth-child(7) {
                left: 0;
                top: calc(35px * 0.36);
            }

            @keyframes intersecting-circles-spinners-animation {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }

            @keyframes fadeOut {
                from {
                    opacity: 1;
                }

                to {
                    opacity: 0;
                }
            }
        }
    }

    .fade-out {
        animation: fadeOut 1s ease-out forwards;
    }
}