@use "../global" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
    --variable-name: value;
}

/* Variables */
:root {
    --font-family: "Roboto", "Noto Sans JP", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.8rem;
    --transition: 0.3s;
    --bullet-background-color: red;
}
html {
        scroll-behavior: smooth;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: auto;
    max-width: 100%;
}


body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    font-family: var(--font-family);
    .pc {
        display: block;
    }
    
    .sp {
        display: none;
    }
    
    .pb {
        padding-bottom: 15px;
    }
    
    .pt {
        padding-top: 6px;
    }
    
    .mt {
        margin-top: 6px;
    }
    ul {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 1.2rem;
    }
    
    a:hover {
        text-decoration: none;
        color: var(--secondary-color);
    }
    
    .fz20 {
        font-weight: bold;
        font-size: 20px;
    }

    .l-container {
        nav {
            @include PC {
                position: sticky;
                top: 0;
                left: 0;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1.5rem 3.5rem;
                background-color: var(--bg-color);
                box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
            }
            h1 {
                color: var(--primary-color);
            }
            a {
                color: var(--primary-color);
                transition: var(--transition);
                &:hover {
                    @include PC {
                        color: var(--secondary-color);
                        border-bottom: 2px solid var(--secondary-color);
                    }
                }
            }
            ul {
                @include PC {
                    display: flex;
                    gap: 1.9rem;
                }
                li {
                    @include PC {
                        font-weight: var(--bold-font);
                    }
                }
            }
            .burger-menu {
                color: var(--primary-color);
                @include PC {
                    font-size: 2rem;
                    border: 0;
                    background-color: transparent;
                    cursor: pointer;
                    display: none;
                }
            }
        }
        .hero {
            @include PC {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2.5rem;
                max-width: 68.75rem;
                margin: auto;
            }
            img {
                @include PC {
                    height: 37.5rem;
                    width: 37.5rem;
                }
            }
            .bio {
                @include PC {
                    width: 25rem;
                    border-radius: 6px;
                    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
                }
                .bio_inner {
                    @include PC {
                        padding-top: 15px;
                        padding-left: 15px;
                        padding-right: 15px;
                        padding-bottom: 15px;
                        font-size: 15px;
                    }
                }
                h2 {
                    @include PC {
                        margin-bottom: var(--bottom-margin);
                    }
                }
                p {
                    @include PC {
                        line-height: var(--line-height);
                        padding: 0.3rem 0;
                    }
                }
            }
        }
        .more-about {
            @include PC {
                background-color: var(--bg-color);
                padding: 1rem 6rem;
            }
            .more-about-inner {
                @include PC {
                    max-width: 1200px;
                    margin: 0 auto;
                }
                h2 {
                    @include PC {
                        margin-bottom: var(--bottom-margin);
                        text-align: center;
                    }
                }
                p {
                    @include PC {
                        line-height: var(--line-height);
                        padding: 0.4rem;
                        font-size: 15px;
                    }
                }
            }
        }
        .skills {
            @include PC {
                max-width: 68.75rem;
                margin: auto;
                text-align: center;
                margin-top: 2.5rem;
                margin-bottom: 2.5rem;
            }
            .skill-header {
                @include PC {
                    margin-bottom: 1rem;
                }
            }
            .skills-wrapper {
                .iconSection {
                    display: flex;
                    justify-content: center;
                    img {
                        @include PC {
                            padding: 1.25rem;
                        }
                    }
                    .icon {
                        @include PC {
                            width: 6.875rem;
                            height: 7rem;
                        }
                    }
                    .icon-card {
                        @include PC {
                            background-color: #fff;
                            border-radius: 11px;
                            box-shadow: 0 3px 10px var(--secondary-shadow);
                            padding: 20px;
                            margin: 10px;
                        }
                    }
                }
            }
        }
        .projects {
            @include PC {
                background-color: var(--bg-color);
                padding: 32px 0;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
            .project-inner {
                @include PC {
                    max-width: 1200px;
                    margin: 0 auto;
                }
                .projects-title {
                    @include PC {
                        text-align: center;
                        margin-bottom: 1rem;
                    }
                }
                .projects-container {
                    @include PC {
                        display: flex;
                        justify-content: center;
                    }
                    .project-container {
                        @include PC {
                            text-align: center;
                            width: 450px;
                            padding: 1rem;
                        }
                        .project-pic {
                            width: 240px;
                            display: block;
                            margin: 0 auto;
                        }
                        p {
                            @include PC {
                                padding: 0.4rem;
                                font-size: 15px;
                                text-align: left;
                                line-height: 1.5;
                            }
                        }
                        .project-title {
                            @include PC {
                                margin-bottom: var(--bottom-margin);
                                font-size: 18px;
                            }
                        }
                    }
                    .project-card {
                        @include PC {
                            background-color: #fff;
                            border-radius: 11px;
                            box-shadow: 0 3px 10px var(--primary-shadow);
                            padding: 20px;
                            margin: 10px;
                        }
                    }
                    .project-details {
                        @include PC {
                            margin-bottom: var(--bottom-margin);
                        }
                    }
                    .project-card-fadein {
                        @include PC {
                            opacity: 0;
                            transform: translateY(50px);
                            transition: opacity 1s ease-out, transform 1s ease-out;
                        }
                    }
                }
            }
            .some-projects-inner {
                .projects-title {
                    @include PC {
                        text-align: center;
                        margin-bottom: 1rem;
                    }
                }
                .projects-containers {
                    @include PC {
                        display: grid;
                        gap: 10px;
                        grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
                        justify-items: center;
                    }
                    .project-container {
                        @include PC {
                            text-align: center;
                            width: 450px;
                            padding: 1rem;
                        }
                        p {
                            @include PC{
                                padding: 0.4rem;
                                font-size: 15px;
                                text-align: left;
                                line-height: 1.5;
                            }
                        }
                        .project-pic {
                            @include PC {
                                width: 240px;
                                display: block;
                                margin: 0 auto;
                            }
                        }
                        .project-details {
                            @include PC {
                                margin-bottom: var(--bottom-margin);
                            }
                        }
                        
                    }
                    .project-card {
                        @include PC {
                            background-color: #fff;
                            border-radius: 11px;
                            box-shadow: 0 3px 10px var(--primary-shadow);
                            padding: 20px;
                            margin: 10px;
                        }
                    }
                    .project-card-fadein {
                        @include PC {
                            opacity: 0;
                            transform: translateY(50px);
                            transition: opacity 1s ease-out, transform 1s ease-out;
                        }
                    }
                }
            }
        }
        .swiper-block {
            @include PC {
                padding-top: 30px;
                background: var(--bg-color);
            }
            .title {
                @include PC {
                    text-align: center;
                }
            }
            .swiper {
                @include PC {
                    width: 540px;
                    height: 930px;
                }
                .swiper-slide {
                    @include PC {
                        margin-top: 30px;
                    }
                    iframe {
                        @include PC {
                            width: 550px;
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
            .swiper-button-prev {
                display: none;
            }
            
            .swiper-button-next {
                display: none;
            }
        }
        .contact {
            @include PC {
                margin-top: 2rem;
                background-color: #fff;
                padding-top: 30px;
            }
            h2 {
                @include PC {
                    text-align: center;
                    margin-bottom: var(--bottom-margin-2);
                }
            }
            .contact-form-container {
                @include PC {
                    max-width: 40.75rem;
                    margin: 0 auto;
                    padding: 0.938rem;
                    border-radius: 5px;
                    box-shadow: 0 3px 10px var(--secondary-shadow);
                }
                label {
                    @include PC {
                        line-height: 2.7em;
                        font-weight: var(--bold-font);
                        color: var(--primary-color);
                    }
                }
                textarea {
                    @include PC {
                        min-height: 6.25rem;
                        font-size: 14px;
                    }
                }
                .input-field  {
                    @include PC {
                        width: 100%;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border-radius: 5px;
                        border: none;
                        border: 2px outset var(--primary-color);
                        font-size: 0.875rem;
                        outline: none;
                    }
                    &::placeholder {
                        @include PC {
                            padding: 0.5rem;
                            color: var(--primary-color);
                        }
                    }
                }
                .submit-btn {
                    @include PC {
                        width: 100%;
                        padding: 10px;
                        margin: 10px 0;
                        background-color: #fff;
                        border: 2px solid var(--primary-color);
                        border-radius: 5px;
                        font-size: 1rem;
                        font-weight: var(--bold-font);
                        transition: var(--transition);
                    }
                    &:hover {
                        @include PC {
                            background-color: var(--primary-color);
                            border: 2px solid var(--primary-color);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .socials {
            @include PC {
                flex-direction: column;
                position: fixed;
                right: 1%;
                bottom: 50%;
                display: flex;
            }
            .socicon {
                @include PC {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
        footer {
            @include PC {
                background-color: var(--bg-color);
                padding: 1.25rem;
                text-align: center;
                margin: 2rem 0 0;
            }
        }
        .scroll-up {
            @include PC {
                position: fixed;
                right: 0.5%;
                bottom: 3%;
                cursor: pointer;
            }
        }
        .up-arrow {
            @include PC {
                width: 3rem;
                height: 3rem;
            }
        }
        .first-set,
        .second-set,
        .third-set {
            @include PC {
                opacity: 0;
                transition: opacity 0.6s ease-out;
            }
        }
    }
}
